{% extends "base.html" %}
{% load static %}
{% block title %}Usuarios{% endblock %}

{% block contenido %}
<h3>Usuarios</h3>
<hr>

<p>
    <a href="{% url 'usuarios:nuevo' %}" 
       style="padding:6px 12px;background:#2c7;color:white;text-decoration:none;border-radius:4px;" title="Crear usuario">
       <i class="bi bi-plus-circle"></i>
    </a>
</p>
<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="table-light">
        <tr>
            {% include "includes/cabecera_ordenable.html" with campo="id" th_class="text-center" titulo="ID" %}
            {% include "includes/cabecera_ordenable.html" with campo="username" th_class="text-center" titulo="Usuario" %}
            {% include "includes/cabecera_ordenable.html" with campo="email" titulo="Email" %}
            {% include "includes/cabecera_ordenable.html" with campo="rol" titulo="Rol" th_class="text-center" %}
            <th class="text-center">Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for u in usuarios %}
        <tr>
            <td class="text-center align-middle">{{ u.id }}</td>
            <td class="text-center align-middle">{{ u.username }}</td>
            <td class="align-middle">{{ u.email }}</td>
            <td class="text-center align-middle">{{ u.rol }}</td>

            <td class="d-flex justify-content-center gap-1">

                <a href="{% url 'usuarios:editar' u.id %}"
                   class="btn btn-outline-secondary btn-sm"
                   title="Editar">
                    <i class="bi bi-pencil-square fs-6"></i>
                </a>

                <a href="{% url 'usuarios:eliminar' u.id %}"
                   class="btn btn-outline-danger btn-sm btn-eliminar-usuario"
                   title="Eliminar">
                    <i class="bi bi-trash fs-6"></i>
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<script src="{% static 'js/usuarios.js' %}"></script>
{% endblock %}
