body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.navbar .nav-link {
    transition: all 0.15s ease;
    border-radius: 0.25rem;
}

.navbar .nav-link:hover {
    background-color: #ff8c00a4;
    color: white !important;
}

.contenido {
    padding: 20px;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col-monto {
    text-align: center;
    white-space: nowrap;
}

.toast-cec {
    width: 250px;
    max-width: 250px;
    background-color: #343a40;
    color: white;
    border: 4px solid #ff8c00;
    font-size: 1.1rem;
}

