{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block contenido %}

<h2>
    Preparación del
    <a href="{% url 'pedidos:editar' pedido.id %}">
        pedido #{{ pedido.id }}
    </a>
</h2>

<p><b>Cliente:</b> {{ pedido.cliente }}</p>
<p><b>Estado:</b> {{ pedido.estado }}</p>
<p><b>Fecha:</b> {{ pedido.fecha|localtime|date:"d M Y H:i" }}</p>

<hr>

<h4>Items del pedido</h4>

<table class="table table-striped">

<thead class="table-light">
<tr>
    <th class="text-center">ID</th>
    <th class="text-center">Lugar</th>
    <th>Repuesto</th>
    <th class="text-center">Cantidad</th>
    <th class="text-center">Preparado</th>
    <th class="text-center">Estado</th>
</tr>
</thead>

<tbody>

{% for item in detalles %}

<tr>

<td class="text-center">{{ item.repuesto.id_mate}}</td>
<td class="text-center">{{ item.repuesto.lugar}}</td>
<td>{{item.repuesto.valor}}</td>

<td class="text-center">{{ item.cantidad|floatformat:'-2' }}</td>

<td class="text-center">
{% if pedido.estado == "PREPARANDO" %}
    <form method="post"
        action="{% url 'logistica:actualizar_preparado' item.id %}"
        style="display:flex; gap:5px; justify-content:center;">

        {% csrf_token %}

        <div class="cantidad-control d-flex justify-content-center">
            <button
                type="button"
                class="btn btn-outline-danger btn-touch cantidad-menos">
                <i class="bi bi-dash-lg fs-5"></i>
            </button>

            <input
                type="text"
                class="form-control text-center cantidad-input"
                name="cantidad_preparada"
                value="{{ item.cantidad_preparada|floatformat:'-2' }}"
                data-max="{{ item.cantidad }}"
                style="max-width: 100px;">

            <button
                type="button"
                class="btn btn-outline-success btn-touch cantidad-mas">
                <i class="bi bi-plus-lg fs-5"></i>
            </button>
        </div>

        <button class="btn btn-sm btn-success btn-touch" title="Actualizar">
            <i class="bi bi-floppy fs-5"></i>
        </button>

    </form>
{% else %}
    {{ item.cantidad_preparada }}
{% endif %}
</td>

<td class="text-center">

{% if item.cantidad_preparada >= item.cantidad %}
<span class="text-success">✔</span>
{% else %}
<span class="text-warning">Pendiente</span>
{% endif %}

</td>

</tr>

{% endfor %}

</tbody>

</table>

<hr>
<a class="btn btn-secondary btn-touch"
   href="{% url 'logistica:listar_preparacion' %}" title="Volver">
   <i class="bi bi-arrow-left fs-5"></i>
</a>

{% if pedido.estado == "PAGADO" %}
<a class="btn btn-warning btn-touch"
   href="{% url 'logistica:comenzar_preparacion' pedido.id %}" title="Comenzar preparación">
   <i class="bi bi-box-seam fs-5"></i> 
</a>
{% endif %}

{% if pedido.estado == "PREPARANDO" and pedido_completo %}
<a class="btn btn-success btn-touch"
   href="{% url 'logistica:consolidar_pedido' pedido.id %}" title="Consolidar pedido">
   <i class="bi bi-box-seam fs-5"></i>
</a>
{% endif %}
<script src="{% static 'js/cantidad_control.js' %}"></script>
{% endblock %}