{% extends "base.html" %}

{% block contenido %}

<h2>Preparación del pedido {{ pedido.id }}</h2>

<p><b>Cliente:</b> {{ pedido.cliente }}</p>
<p><b>Estado:</b> {{ pedido.estado }}</p>
<p><b>Fecha:</b> {{ pedido.fecha }}</p>

<hr>

<h4>Items del pedido</h4>

<table class="table table-striped">

<thead class="table-light">
<tr>
    <th class="text-center">ID</th>
    <th class="text-center">Lugar</th>
    <th>Repuesto</th>
    <th class="text-center">Preparado</th>
    <th class="text-center">Estado</th>
</tr>
</thead>

<tbody>

{% for item in detalles %}

<tr>

<td class="text-center">{{ item.repuesto.id_mate}}</td>
<td class="text-center">{{ item.repuesto.lugar}}</td>
<td>{{item.repuesto.valor}}</td>

<td class="text-center">{{ item.cantidad }}</td>

<td class="text-center">
{% if pedido.estado == "PREPARANDO" %}
    <form method="post"
        action="{% url 'logistica:actualizar_preparado' item.id %}"
        style="display:flex; gap:5px; justify-content:center;">

    {% csrf_token %}

    <input type="number"
        step="0.001"
        max="{{ item.cantidad }}"
        name="cantidad_preparada"
        value="{{ item.cantidad_preparada }}"
        class="form-control form-control-sm text-center"
        style="width:90px;">

        <button class="btn btn-sm btn-success">✓</button>

    </form>
{% else %}
    {{ item.cantidad_preparada }}
{% endif %}
</td>

<td class="text-center">

{% if item.cantidad_preparada >= item.cantidad %}
<span class="text-success">✔</span>
{% else %}
<span class="text-warning">Pendiente</span>
{% endif %}

</td>

</tr>

{% endfor %}

</tbody>

</table>

<hr>

{% if pedido.estado == "PAGADO" %}
<a class="btn btn-warning"
   href="{% url 'logistica:comenzar_preparacion' pedido.id %}">
   Comenzar preparación
</a>
{% endif %}

{% if pedido.estado == "PREPARANDO" and pedido_completo %}
<a class="btn btn-success"
   href="{% url 'logistica:consolidar_pedido' pedido.id %}">
   Consolidar pedido
</a>
{% endif %}

<a class="btn btn-secondary"
   href="{% url 'logistica:listar_preparacion' %}">
   Volver
</a>

{% endblock %}