{% extends "base.html" %}
{% load tz %}
{% block contenido %}

<h3>Preparación de pedidos</h3>
Cantidad de pedidos: {{ cantidad_pedidos }}
<hr>

<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered table-hover">
        <thead class="table-info">
            <tr>
                {% include "includes/cabecera_ordenable.html" with campo="id" titulo="Nº" th_class="text-center" %}
                <th>Cliente</th>
                <th class="text-center">Preparación</th>
                <th class="text-center">Items</th>
                <th class="text-center">Cant.</th>
                {% include "includes/cabecera_ordenable.html" with campo="estado" titulo="Estado" th_class="text-center" %}
                {% include "includes/cabecera_ordenable.html" with campo="fecha" titulo="Fecha" th_class="text-center" %}
                <th></th>
            </tr>
        </thead>
        <tbody>

        {% for pedido in pedidos %}

            <tr>

                <td class="text-center">{{ pedido.id }}</td>

                <td>{{ pedido.cliente }}</td>

                <td style="width:220px" class="text-center">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ pedido.progreso_preparacion }}%;">
                            {{ pedido.progreso_preparacion }}%
                        </div>
                    </div>
                </td>

                <td class="text-center">{{ pedido.total_items }}</td>
                <td class="text-center">{{ pedido.total_cantidad|floatformat:"-2" }}</td>
                <td class="text-center">{{ pedido.estado }}</td>
                <td class="text-center">{{ pedido.fecha|localtime|date:"d M Y H:i" }}</td>
                <td class="text-end">

                    <a class="btn btn-sm btn-primary btn-touch"
                        href="{% url 'logistica:detalle_preparacion' pedido.id %}" title="Ver">
                        <i class="bi bi-eye fs-5"></i>
                    </a>
                </td>
            </tr>

        {% empty %}

            <tr>
                <td colspan="7" class="text-center">
                    No hay pedidos para preparar
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
{% include "includes/pie_paginacion.html" with page_obj=pedidos %}
{% endblock %}