{% extends "base.html" %}
{% block contenido %}

<h2>Buscar Equipo</h2>

<form method="GET">
    <input type="text" name="texto" value="{{ request.GET.texto }}" placeholder="Ingrese parte del nombre">
    <button type="submit">Buscar</button>
</form>

<hr>

<ul>
{% for eq in equipos %}
    <li>
        <a href="{% url 'pedidos:equipo_materiales' eq.id_mate %}">
            {{ eq.valor }} (ID {{ eq.id_mate }})
        </a>
    </li>
{% empty %}
    <li>No se encontraron equipos.</li>
{% endfor %}
</ul>

{% endblock %}
